<header class="header">
  <nav class="user_header">
    <ul class="user_list">
      <li class="nav-item" *ngIf="auth.isAuthorization()">
        <button
          class="nav-link nav_button"
          (click)="logout()"
          *ngIf="auth.position() !== 'manager'; else back"
          >
          Выйти
          <i class="fa fa-window-close" aria-hidden="true"></i>
          </button>
          <ng-template #back>
           <a [routerLink]="['/manager']">
            <button
            class="nav-link nav_button"
            >
            Назад
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
           </a>
          </ng-template>
      </li>
    </ul>
  </nav>
</header>
