a {
  color: var(--color-white);
}

a:hover,
a:focus,
a:active {
  color: var(--color-green);
}

.header {
  position: absolute;
  padding: 1.5rem 1rem;
  z-index: 2;
  width: 100%;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(56,107,130,1) 31%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_item:not(:last-child) {
  margin-right: 10px;
}

.btn_burger {
  display: none;
  background: transparent;
  border: none;
  color: white;
}

.btn_burger:hover,
.btn_burger:active,
.btn_burger:focus {
 color: var(--color-green);
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
  .btn_burger {
    display: block;
  }
}

