<header class="header">
  <a [routerLink]="['']" class="logo_icon" >
    Ho<i class="fa fa-home" aria-hidden="true"></i>e
  </a>
  <nav class="nav">
    <ul class="nav_list">
      <li class="nav_item">
        <a [routerLink]="['/login']" class="nav_link">
          Менед
          <i class="fa fa-user" aria-hidden="true"></i>
          жер
        </a>
      </li>
      <li class="nav_item">
        <a  class="nav_icon" [routerLink]="['employee/login']">
          Оф
          <i class="fa fa-user" aria-hidden="true"></i>
          ициант
        </a>
      </li>
    </ul>
  </nav>
</header>
