.nav_button {
  background: transparent;
  border: none;
}

.aside_user_panel {
  visibility: hidden;
  display: flex;
  justify-content: center;
}

.aside_control_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside_control_item:not(:first-child) {
  margin-top: 10px;
}

.aside_small {
  margin-left: 5px;
}

@media (max-width: 1000px) {
  .aside_user_panel {
    visibility:visible;
    display: flex;
    justify-content: center;
  }
}
