@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');
@import "~@ng-select/ng-select/themes/default.theme.css";

:root {
  --color-white: #ffffff;
  --color-grey: rgb(52, 56, 61);
  --color-green: #24a763;
  --color-main: #32667E;
  --color-FC: #F7F7FC;
}


*{
	font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

.text_title {
  font-size: 2.5rem;
  font-weight: bold;
}

.text {
  font-size: 2rem;
}

.text_small {
  font-size: 14px;
  font-weight: 400;
}

.mr_v {
  margin-top: 2rem;
  margin-bottom:2rem;
}

.mr_h {
  margin-right: 1rem;
  margin-left: 1rem;
}

.pd_v_small {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container {
 padding: 0 1.5rem !important;
 max-width: unset !important;
}

.pad_wrap {
  padding: 1.5rem 0;
}
